
  	<form method="get" action="/quizes/answer">
  		Pregunta: <%= pregunta %> <p>
  		<br></br>
  		<input type="text" name="respuesta" value="Respuesta"/>
  		<input type="submit" value="Enviar"/>
  	</form>
  